.myGridClass2 {
  width: 50%;
  /*this will be the color of the odd row*/
  background-color: #fff;
  margin: 5px 0 10px 0;
  border: solid 1px #525252;
  border-collapse:collapse;
}

/*data elements*/
.myGridClass2 td {
  padding: 2px;
  border: solid 1px #c1c1c1;
  color: #717171;
}

/*header elements*/
.myGridClass2 th {
  padding: 4px 2px;
  color: #fff;
  background: #424242;
  border-left: solid 1px #525252;
  font-size: 0.9em;
}

/*his will be the color of even row*/
.myGridClass2 .myAltRowClass2 { background: #fcfcfc repeat-x top; }

/*and finally, we style the pager on the bottom*/
.myGridClass2 .myPagerClass2 { background: #424242; }

.myGridClass2.myPagerClass2 table { margin: 5px 0; }

.myGridClass2 .myPagerClass2 td {
  border-width: 0;
  padding: 0 6px;
  border-left: solid 1px #666;
  font-weight: bold;
  color: #fff;
  line-height: 12px;
}

.myGridClass2 .myPagerClass2 a { color: #666; text-decoration: none; }

.myGridClass2 .myPagerClass2 a:hover { color: #000; text-decoration: none; } 
